---
layout: faqs
---
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h2>Covid19 FAQ</h2>

<button class="accordion">Q1. What is Novel Coronavirus?</button>
<div class="panel">
  <p>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the coronaviruses that commonly circulate among humans and cause mild illness, like the common cold.</p>
<p>A diagnosis with coronavirus 229E, NL63, OC43, or HKU1 is not the same as a COVID-19 diagnosis. Patients with COVID-19 will be evaluated and cared for differently than patients with common coronavirus diagnosis.</p>
</div><br>

<button class="accordion">Q2. Why is the disease being called coronavirus disease 2019, COVID-19?</button>
<div class="panel">
  <p>On February 11, 2020 the World Health Organization announced  an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p>
<p>There are many types  of human coronaviruses including some that commonly cause mild upper-respiratory tract illnesses. COVID-19 is a new disease, caused be a novel (or new) coronavirus that has not previously been seen in humans. The name of this disease was selected following the World Health Organization (WHO) best practice  for naming of new human infectious diseases.</p>
</div><br>

<button class="accordion">Q3. What are the symptoms of coronavirus?</button>
<div class="panel">
  <p>Current symptoms reported for patients with COVID-19 have included mild to severe respiratory illness with fever, cough, and difficulty breathing. <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3">Read About COVID-19 Symptoms</a></p>
</div><br>

<button class="accordion">Q4. What should I do if I get sick?</button>
<div class="panel">
<ul>
<li>Stay home and call your doctor.</li>
<li>Call your healthcare provider and let them know about your symptoms. Tell them that you have or may have COVID-19. This will help them take care of you and keep other people from getting infected or exposed.</li>
<li>If you are not sick enough to be hospitalized, you can recover at home. Follow CDC instructions for how to take care of yourself at home.</li>
<li>Know when to get emergency help.</li>
<li>Get medical attention immediately if you have any of the emergency warning signs listed above.</li>
</ul>
</div><br>

<h2>People Who Are At Higher Risk For Severe Illness</h2>
<button class="accordion">People Who Are At Higher Risk</button>
<div class="panel">
  <p>Based upon available information to date, those at high-risk for severe illness from COVID-19 include:<br><ol><li>People aged 65 years and older.</li>
  <li>People who live in a nursing home or long-term care facility.</li>
  <li>Other high-risk conditions could include:</li>
  <ul>
  <li>People with chronic lung disease or moderate to severe asthma.</li>
  <li>People who have serious heart conditions.</li>
  <li>People who are immunocompromised including cancer treatment.</li>
  <li>People of any age with severe obesity (body mass index [BMI] >40) or certain underlying medical conditions, particularly if not well controlled, such as those with diabetes, renal failure, or liver disease might also be at risk.</li>
  </ul>
  <li>People who are pregnant should be monitored since they are known to be at risk with severe viral illness, however, to date data on COVID-19 has not shown increased risk.</li>
  </ol>
  Many conditions can cause a person to be immunocompromised, including cancer treatment, smoking, bone marrow or organ transplantation, immune deficiencies, poorly controlled HIV or AIDS, and prolonged use of cortico steroids and other immune weakening medications.
</p>
</div><br>

<h2>Coronavirus Infection And Pregnancy</h2>

<button class="accordion">Q1. What effect does coronavirus have on pregnant women?</button>
<div class="panel">
  <p>Generally, pregnant women do not appear to be more likely to be severely unwell than other healthy adults if they develop the new coronavirus. It is expected the large majority of pregnant women will experience only mild or moderate cold/flu like symptoms.</p>
<p>More severe symptoms such as pneumonia appear to be more common in older people, those with weakened immune systems or long-term conditions. As yet, there is no evidence that pregnant women who get this infection are more at risk of serious complications than any other healthy individuals.</p>
<p>If you think you may have symptoms of COVID-19 you should use the online service for information. If you develop more severe symptoms or your recovery is delayed this may be a sign that you are developing a more significant chest infection that requires enhanced care. Our advice remains that if you feel your symptoms are worsening or if you are not getting better you should contact your maternity care team or use the  online service for further information and advice.</p>
</div><br>

<button class="accordion">Q2. What effect will coronavirus have on my baby if I am diagnosed with the infection?</button>
<div class="panel">
  <p>As this is a very new virus we are just beginning to learn about it. There is no evidence to suggest an increased risk of miscarriage.</p>
<p>There is also no evidence that the virus can pass to your baby while you are pregnant or during birth (this is called vertical transmission). Two cases of possible vertical transmission have been reported. In both cases, it remains unclear whether transmission was prior to or soon after birth. Another recent report from China of four women with coronavirus infection when they gave birth found no evidence of the infection in their newborn babies. Expert opinion is that the baby is unlikely to be exposed during pregnancy. It is also therefore considered unlikely that if you have the virus it would cause problems with the baby’s development, and none have been observed currently.</p>
<p>Some babies born to women with symptoms of coronavirus in China have been born prematurely. It is unclear whether coronavirus caused early labour, or whether it was recommended that the baby was born early in order to preserve the mother’s health.</p>
<p>The UK is conducting near-real-time surveillance of all women who develop COVID-19 during pregnancy and their newborn babies, through well-established systems already used by all maternity units. We will update this information if and as soon as there is any change in the evidence.</p>
</div><br>

<button class="accordion">Q3. What can I do to reduce my risk of catching coronavirus?</button>
<div class="panel">
  <p>The most important thing to do is to follow government  guidance. For pregnant women, this includes:<br>
  <ul>
  <li>Regular hand washing.</li>
<li>Use a tissue when you or anyone in your family coughs or sneezes, discard this and wash your hands.</li>
<li>Avoid contact with someone who is displaying symptoms of coronavirus. These symptoms include high temperature and/or new and continuous cough.</li>
<li>Avoid non-essential use of public transport when possible.</li>
<li>Work from home, where possible.</li>
<li>Avoid large and small gatherings in public spaces, noting that pubs, restaurants, leisure centres and similar venues are currently shut as infections spread easily in closed spaces where people gather together.</li>
<li>Avoid gatherings with friends and family. Keep in touch using remote technology such as phone, internet, and social media.</li>
<li>Use telephone or online services to contact your GP or other essential services</li></ul>
  </p>
</div><br>

<button class="accordion">Q4. Why are pregnant women in a vulnerable group?</button>
<div class="panel">
  <p>Pregnant woman were placed in a vulnerable group by the Chief Medical Officer on 16th March. This means you have been advised to reduce social contact through social distancing measures.</p>
<p>Based on the evidence we have so far, pregnant women are still no more likely to contract coronavirus than the general population. What we do know is that pregnancy in a small proportion of women can alter how your body handles severe viral infections. This is something that midwives and obstetricians have known for many years and are used to dealing with. As yet, there is no evidence that pregnant women who get this infection are more at risk of serious complications than any other healthy individuals.</p>
<p>What has driven the decisions made by officials to place pregnant women in the vulnerable category is caution. We know that some viral infections are worse in pregnant women. At the moment, there’s no evidence that this is the case for coronavirus infection, but the amount of evidence available is still quite limited.</p>
</div><br>

<button class="accordion">Q5. What do I need to do now?</button>
<div class="panel">
  <p>As a precaution, you should follow government advice about social distancing; stay away from public places and avoid anyone who has symptoms suggestive of coronavirus.</p>
<p>If you are in your third trimester (more than 28 weeks pregnant) you should be particularly attentive to social distancing and minimising contact with others.</p>
</div><br>

<button class="accordion">Q6. Can I still go to work? What if I work in a public-facing role?</button>
<div class="panel">
  <p>We understand that it must be an anxious time if you are pregnant and you work in a public facing role, following the Chief Medical Officer’s advice on 16 March 2020 that all pregnant women are in a vulnerable group.</p>
<p>Pregnant women who can work from home should do so. If you can’t work from home, if you work in a public-facing role that can be modified appropriately to minimise your exposure, this should be considered and discussed with your occupational health team or employer.</p>
</div><br>

<button class="accordion">Q7. What is the advice if I am a health care worker and pregnant?</button>
<div class="panel">
  <p>The guidance was updated on 26 March to emphasize that pregnant women of any gestation should be offered the choice of whether to work in direct patient-facing roles during the coronavirus pandemic. Your choices on whether you continue to work in direct patient-facing roles during the coronavirus pandemic should be respected and supported by your employers.</p>
  <h3>Advice for pregnant healthcare workers before 28 weeks gestation</h3>
<p>If you are in your first or second trimester (less than 28 weeks pregnant), with no underlying health conditions, you should practise social distancing but can choose to continue to work in a patient-facing role. If you choose to continue working, it is strongly recommended the necessary precautions are taken. You should avoid, where possible, caring for patients with suspected or confirmed coronavirus infection. If this is not possible, you should use personal protective equipment (PPE) and ensure a thorough risk assessment is undertaken.</p>
<p>Some working environments, such as operating theatres, respiratory wards and intensive care/high dependency units, carry a higher risk for all pregnant women of exposure to the virus and all healthcare workers in these settings are recommended to use appropriate PPE.</p>
<h3>Advice for pregnant healthcare workers after 28 weeks gestation, or with an underlying health condition</h3>
<p>If you are in your third trimester (more than 28 weeks pregnant), or have an underlying health condition – such as heart or lung disease – we strongly recommend you avoid direct patient contact. It is better to work from home where possible, avoid contact with anyone with symptoms of coronavirus, and significantly reduce unnecessary social contact.</p>
<p>We encourage employers to seek opportunities for pregnant healthcare workers in their third trimester to work flexibly in a different capacity, to avoid roles where they are working directly with patients.</p>
<p>Whatever gestation of your pregnancy, you should discuss your individual circumstances with your local Occupational Health department.</p>
<p>The evidence base for this new virus is growing rapidly and, as and when new information emerges, the Government and professional bodies will update the guidance.</p>
</div><br>

<button class="accordion">Q8. Should I attend my antenatal appointments?</button>
<div class="panel">
  <p>Attending antenatal and postnatal care when you are pregnant and have a new baby is really important to ensure the wellbeing of you and your baby.</p>
<p>If you are well, you should attend your antenatal care as normal. If you have symptoms of possible coronavirus infection, you should contact your community midwife to postpone routine visits until after the isolation period is over.</p>
<p>At this time, it is particularly important that you help your maternity team take care of you. If you have had an appointment cancelled or delayed, and are not sure of your next contact with your maternity team, please let them know by using the contact numbers provided to you at booking.</p>
<p>The following practical advice may be helpful:<br>
<ul>
<li>If you have a routine scan, appointment or visit due in the coming days, please contact your maternity unit for advice and a plan. You will still need to attend but the appointment may change due to staffing requirements.</li>
<li>Some appointments may be conducted on the telephone or using videoconferencing, provided there is a reasonable expectation that maternal observations or tests are not required.</li>
<li>If you are between appointments, please wait to hear from your maternity team.</li>
<li>If you are attending more regularly in pregnancy, then your maternity team will be in touch with plans.</li>
<li>If you miss an appointment and haven’t heard from your maternity team, please contact them to rearrange the appointment.</li>
</ul></p>

</div><br>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
