<style>
    i {
  border: solid cornsilk;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
   
</style>
<!-- <br><br>
<header>
    <div class="header-content" style:"margin-top:30px;"><br><br>
    </div>
</header> -->
<br><br>
<div>
    <center>
        <img src="img\H-Bots blue cropped.png" style="position: relative;width:80px;height:50px;border:0;"></a>
    <h2>Let Us Defeat Coronavirus Together</h2>
            <hr>
            <p style="color: cornsilk; font-size: 20px; font-weight: bold;color:black">An Initiative by H-Bots</p>
            <h3>Novel Corona Virus</h3>
    <p style="color: cornsilk; font-size: 20px; font-weight: bold;color:black">A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the coronaviruses that commonly circulate among humans and cause mild illness, like the common cold.</p>
            <p style="font-size: 20px; font-weight: bold;"><a href="https://mapping-it-services.github.io/FAQ/" target="_blank">COVID19 FAQ</a></p>
            <p style="color: cornsilk; font-size: 18px; font-weight: bold;color:black">#stayhome #staysafe</p>
    </center>
        </div>
