<section class="no-padding" id="portfolio">
    
    <div id="demo" class="carousel slide" data-ride="carousel">
  		<ul class="carousel-indicators">
    			<li data-target="#demo" data-slide-to="0" class="active"></li>
    			<li data-target="#demo" data-slide-to="1"></li>
    			<li data-target="#demo" data-slide-to="2"></li>
  		</ul>
  		<div class="carousel-inner">
    			<div class="carousel-item active">
      				<img src="img/bgimage.jpg"width="100%">
    			</div>
    			<div class="carousel-item">
				<center>
      					<img src="img/portfolio/POSTER 1 CROP.png" width='100%'>
      						<div class="carousel-caption">
        						<h3>Hands</h3>
        						<p>Wash them often</p>
      						</div>
				</center>
    			</div>
    			<div class="carousel-item">
				<center>
      					<img src="img/elbow.png" alt="New York" class="image">
      						<div class="carousel-caption">
        						<h3>ELBOW</h3>
        						<p>Cough into it</p>
      						</div>   
				</center>
    			</div>
  		</div>
  		<a class="carousel-control-prev" href="#demo" data-slide="prev">
    			<span class="carousel-control-prev-icon"></span>
  		</a>
  		<a class="carousel-control-next" href="#demo" data-slide="next">
    			<span class="carousel-control-next-icon"></span>
  		</a>
	</div>
    
    
    
    
    
<!--     <center><h2>RESOURCES</h2></center>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/CORONA.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #information
                            </div>
                            <div class="project-name">
                                About COVID19
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/POSTER 1 CROP.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #dontpanic
                            </div>
                            <div class="project-name">
                                Services Available
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/POSTER 2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #stayhome #staysafe
                            </div>
                            <div class="project-name">
                                Do Meditation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/POSTER 4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #dontpanic
                            </div>
                            <div class="project-name">
                                Financial Relief
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/POSTER 5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #dontpanic
                            </div>
                            <div class="project-name">
                                Income Tax
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/POSTER 6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #dontpanic
                            </div>
                            <div class="project-name">
                                Financial Relief
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
 -->
